<%- include("partials/header"); -%>
    <h1>Compose</h1>
    <form class="" action="/editpost/<%=edit_post._id %>" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label>Title</label>
          <input class="form-control" type="text" name="postTitle" value="<%= edit_post.title%>">
          <label>Post</label>
          <textarea class="form-control" name="postBody" rows="5" cols="30"><%= edit_post.content%></textarea>

        </div>
        <button class="btn btn-primary" type="submit" name="button">Publish</button>
      </form>
<%- include("partials/footer"); -%>