<%- include("partials/header"); -%>
<h3>This is the Title: <%= this_post.title %> </h3>
<h3>This is the content: <%= this_post.content %> </h3>
   



<a href="/edit/<%=this_post._id%>">Edit the journal</a>
<br>
<%- include("partials/footer"); -%>